Bai3/InventoryClient/src/conf/xml-resources/web-service-references/InventoryService/wsdl/localhost_8080/Inventory/InventoryService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://nhom08/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://nhom08/">

<xs:element name="checkInventory" type="tns:checkInventory" />

<xs:element name="checkInventoryResponse" type="tns:checkInventoryResponse" />

<xs:complexType name="checkInventory">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="quantity" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkInventoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>