Bai2/OrderClient/src/conf/xml-resources/web-service-references/OrderService/wsdl/localhost_8080/Order/OrderService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://nhom08/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://nhom08/">

<xs:element name="checkOrderStatus" type="tns:checkOrderStatus" />

<xs:element name="checkOrderStatusResponse" type="tns:checkOrderStatusResponse" />

<xs:complexType name="checkOrderStatus">
<xs:sequence>
<xs:element name="orderNumber" type="xs:string" minOccurs="0" />
<xs:element name="companyID" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkOrderStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>